<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a href="{{{site.url}}}">{{{site.title}}}</a>
      </div>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">PhiFEM</div>
          <div class="navbar-dropdown">
            <div class="navbar-item"><strong>GitHub</strong></div>
            <a class="navbar-item" href="https://github.com/master-csmi/2022-m2-phifem">GitHub Repository</a>
            <a class="navbar-item" href="https://github.com/orgs/master-csmi/projects/9/views/8">GitHub Issue Tracker</a>
            <hr class="navbar-divider">
          </div>
        </div>
        <div class="navbar-item">
          <a class="navbar-brand" href="https://mimesis.inria.fr/">
            <img src="{{{uiRootPath}}}/img/mimesis2.png" alt="mimesis" style="width:90px;"></a>
        </div>
        <div class="navbar-item">
          <a class="navbar-brand"  href="http://www.cemosis.fr">
            <img src="{{{uiRootPath}}}/img/logoCemosisTransparent.png" alt="Cemosis" style="width:60px;">
          </a>
        </div>
        <div class="navbar-item">
          <a class="navbar-brand"  href="http://docs.feelpp.org">
            <img src="{{{uiRootPath}}}/img/logoFeelpp.png" alt="Feel++" style="width:60px;">
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
